In [67]:
import pandas as pd

## Reading Data

In [68]:
df = pd.read_csv('Data.csv')

In [69]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProbab
0     99         1    1          0           0                0
1    100         0   72          1           0                1
2    100         0   52          1          -1                0
3     99         0   98          0           1                1
4     98         0    8          0          -1                1

In [70]:
df.tail()

      fever  bodyPain  age  runnyNose  diffBreath  infectionProbab
1994     98         1   87          1           0                0
1995     98         1   58          1           0                0
1996     98         1   71          0           0                1
1997     98         1    6          1          -1                1
1998    100         1   29          1          -1                1

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fever            1999 non-null   int64
 1   bodyPain         1999 non-null   int64
 2   age              1999 non-null   int64
 3   runnyNose        1999 non-null   int64
 4   diffBreath       1999 non-null   int64
 5   infectionProbab  1999 non-null   int64
dtypes: int64(6)
memory usage: 93.8 KB

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fever            1999 non-null   int64
 1   bodyPain         1999 non-null   int64
 2   age              1999 non-null   int64
 3   runnyNose        1999 non-null   int64
 4   diffBreath       1999 non-null   int64
 5   infectionProbab  1999 non-null   int64
dtypes: int64(6)
memory usage: 93.8 KB

In [73]:
df['diffBreath'].value_counts()

 1    683
 0    670
-1    646
Name: diffBreath, dtype: int64

In [74]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProbab
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,99.005003,0.500750,50.234117,0.504752,0.018509,0.499250
std,0.817094,0.500125,28.709240,0.500103,0.815366,0.500125
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.000000,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.000000,1.000000,50.000000,1.000000,0.000000,0.000000
75%,100.000000,1.000000,75.000000,1.000000,1.000000,1.000000
max,100.000000,1.000000,100.000000,1.000000,1.000000,1.000000

In [75]:
import numpy as np
import matplotlib.pyplot as plt

In [76]:
X = df.iloc[:, 0:5].values
y = df.iloc[:, 5].values

In [77]:
X

array([[ 99,   1,   1,   0,   0],
       [100,   0,  72,   1,   0],
       [100,   0,  52,   1,  -1],
       ...,
       [ 98,   1,  71,   0,   0],
       [ 98,   1,   6,   1,  -1],
       [100,   1,  29,   1,  -1]], dtype=int64)

In [78]:
y

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [79]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [80]:
from sklearn.linear_model import LogisticRegression

In [81]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [82]:
inputFeatures = [100, 1, 50, 1, 0]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [83]:
infProb

0.4852817251739795