In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('Data.csv')

In [3]:
df.head()

   fever  bodyPain  age  runnyNose  diffBreath  infectionProbab
0     99         1    1          0           0                0
1    100         0   72          1           0                1
2    100         0   52          1          -1                0
3     99         0   98          0           1                1
4     98         0    8          0          -1                1

In [4]:
df.tail()

      fever  bodyPain  age  runnyNose  diffBreath  infectionProbab
1994     98         1   87          1           0                0
1995     98         1   58          1           0                0
1996     98         1   71          0           0                1
1997     98         1    6          1          -1                1
1998    100         1   29          1          -1                1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fever            1999 non-null   int64
 1   bodyPain         1999 non-null   int64
 2   age              1999 non-null   int64
 3   runnyNose        1999 non-null   int64
 4   diffBreath       1999 non-null   int64
 5   infectionProbab  1999 non-null   int64
dtypes: int64(6)
memory usage: 93.8 KB

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   fever            1999 non-null   int64
 1   bodyPain         1999 non-null   int64
 2   age              1999 non-null   int64
 3   runnyNose        1999 non-null   int64
 4   diffBreath       1999 non-null   int64
 5   infectionProbab  1999 non-null   int64
dtypes: int64(6)
memory usage: 93.8 KB

In [7]:
df['diffBreath'].value_counts()

 1    683
 0    670
-1    646
Name: diffBreath, dtype: int64

In [8]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProbab
count,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000,1999.000000
mean,99.005003,0.500750,50.234117,0.504752,0.018509,0.499250
std,0.817094,0.500125,28.709240,0.500103,0.815366,0.500125
min,98.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.000000,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,99.000000,1.000000,50.000000,1.000000,0.000000,0.000000
75%,100.000000,1.000000,75.000000,1.000000,1.000000,1.000000
max,100.000000,1.000000,100.000000,1.000000,1.000000,1.000000

In [9]:
import numpy as np

In [13]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio) #Define the percentage of test size
    test_indices = shuffled[:test_set_size] #Test data rows
    train_indices = shuffled[test_set_size:] 
    return data.iloc[train_indices], data.iloc[test_indices]

In [14]:
train, test = data_split(df, .2)

In [15]:
train

      fever  bodyPain  age  runnyNose  diffBreath  infectionProbab
966      98         0   95          1          -1                0
240      99         1   31          1           0                1
812     100         1   91          0          -1                1
1824    100         1   19          0           1                0
1244     99         1   76          1          -1                1
...     ...       ...  ...        ...         ...              ...
1130    100         1   77          1           1                1
1294     98         0   34          0           0                0
860      99         1   25          0           0                1
1459     99         1   26          0           1                0
1126    100         1   53          1          -1                0

[1600 rows x 6 columns]

In [16]:
test

      fever  bodyPain  age  runnyNose  diffBreath  infectionProbab
256      98         1   81          0           0                1
352      99         1   26          1           0                1
298      98         1   86          0           1                1
581      98         1   37          0           1                1
1288    100         1   38          1          -1                1
...     ...       ...  ...        ...         ...              ...
1616     98         1   53          0           1                1
650      98         0   16          0           0                0
1973    100         1   82          0          -1                0
261      98         0   31          1           0                1
1305    100         0   35          1          -1                0

[399 rows x 6 columns]

In [22]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']]
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']]

In [23]:
X_train.to_numpy()
X_test.to_numpy()

array([[ 98,   1,  81,   0,   0],
       [ 99,   1,  26,   1,   0],
       [ 98,   1,  86,   0,   1],
       ...,
       [100,   1,  82,   0,  -1],
       [ 98,   0,  31,   1,   0],
       [100,   0,  35,   1,  -1]], dtype=int64)

In [24]:
Y_train = train[['infectionProbab']]
Y_test = test[['infectionProbab']]

In [26]:
Y_train.to_numpy().reshape(1, -1)
Y_test.to_numpy().reshape(1, -1)

array([[1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
        0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
        0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
        0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
        1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
        0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
        1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1,
        1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
        0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1,
        0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1,
        1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
        0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1,
        1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
        1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
        0, 1, 0]], dtype=int64)

In [32]:
from sklearn.linear_model import SVM

ImportError: DLL load failed: The specified procedure could not be found.